

body {
	background-color: #CCC;
}

#para {
	background-color: #000;
	width: 100px;
	height: 100px;
	color: white;
}

.back_red {
	background-color: red;
}

.back_green {
	background-color: green;
}

.back_blue {
	background-color: blue;
}

.back_orange {
	background-color: orange;
}